<nav class="navbar navbar-expand-lg bg-success navbar-light">
  <div class="container">
    <a href="/" class="navbar-brand">Jaunākāo ziņu apkopojums</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
      <span class="navbar-light navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navmenu">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a href="fireman-news" class="nav-link">VUGD ziņas</a>
        </li>
        <li class="nav-item">
          <a href="police-news" class="nav-link">VP ziņas</a>
        </li>
        <li class="nav-item">
          <a href="environment-news" class="nav-link">VVD ziņas</a>
        </li>
        <li class="nav-item">
          <a href="my-articles" class="nav-link">My Articles</a>
        </li>
        <li class="nav-item">
          <a href="add-article" class="btn btn-outline-dark" >Add Article</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
